<a href="https://colab.research.google.com/github/HoYoungChun/financial_data_analysis/blob/main/Fixed_rate_investment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fixed_rate_investment(정률투자법)

### Basic Setting

#### Load modules

In [1]:
import pandas as pd
import requests
from tqdm import tqdm

### Get Daily Prices

#### KODEX 200(Daily)

In [ ]:
kodex_200 = pd.DataFrame()

kodex_url = 'https://finance.naver.com//item/sise_day.nhn?code=069500'

for page in tqdm(range(1,100)):
    pg_url = '{url}&page={page}'.format(url=kodex_url, page=page)
    pg_url = requests.get(pg_url, headers={'User-agent':'Mozilla/5.0'}).text
    kodex_200 = kodex_200.append(pd.read_html(pg_url)[0], ignore_index=True)
    #pd.read_html(pg_url)[0]
kodex_200

In [ ]:
kodex_200 = kodex_200.dropna()
kodex_200.columns = ['date','close','over_the_day','open','high','low','volume']
kodex_200.date = pd.to_datetime(kodex_200.date)

print('출처: ', kodex_url)
print(kodex_200.shape)
kodex_200.head()

#### Gov 3-year(Daily)

In [23]:
gov_3 = pd.DataFrame()
gov_url = 'https://finance.naver.com/item/sise_day.nhn?code=114260'

for page in tqdm(range(1,100)):
    pg_url = '{url}&page={page}'.format(url=gov_url, page=page)
    pg_url = requests.get(pg_url, headers={'User-agent':'Mozilla/5.0'}).text
    gov_3 = gov_3.append(pd.read_html(pg_url)[0],ignore_index=True)

100%|██████████| 99/99 [00:40<00:00,  2.44it/s]

In [24]:
gov_3

              날짜       종가   전일비       시가       고가       저가     거래량
0            NaN      NaN   NaN      NaN      NaN      NaN     NaN
1     2021.07.12  57995.0  20.0  58010.0  58020.0  57945.0   357.0
2     2021.07.09  58015.0  25.0  58015.0  58055.0  57975.0  1069.0
3     2021.07.08  57990.0  70.0  57960.0  58015.0  57930.0  3646.0
4     2021.07.07  57920.0  55.0  57865.0  57920.0  57865.0  1406.0
...          ...      ...   ...      ...      ...      ...     ...
1480  2017.07.06  55455.0   0.0  55460.0  55465.0  55425.0  1594.0
1481  2017.07.05  55455.0  20.0  55475.0  55475.0  55435.0   972.0
1482  2017.07.04  55435.0  65.0  55480.0  55485.0  55435.0  1539.0
1483  2017.07.03  55500.0  10.0  55725.0  55725.0  55450.0  1730.0
1484         NaN      NaN   NaN      NaN      NaN      NaN     NaN

[1485 rows x 7 columns]

In [27]:
gov_3 = gov_3.dropna()
gov_3.columns = ['date','close','over_the_day','open','high','low','volume']
gov_3.date = pd.to_datetime(gov_3.date)
gov_3

           date    close  over_the_day     open     high      low  volume
1    2021-07-12  57995.0          20.0  58010.0  58020.0  57945.0   357.0
2    2021-07-09  58015.0          25.0  58015.0  58055.0  57975.0  1069.0
3    2021-07-08  57990.0          70.0  57960.0  58015.0  57930.0  3646.0
4    2021-07-07  57920.0          55.0  57865.0  57920.0  57865.0  1406.0
5    2021-07-06  57865.0          20.0  57890.0  57890.0  57830.0  3484.0
...         ...      ...           ...      ...      ...      ...     ...
1479 2017-07-07  55410.0          45.0  55445.0  55455.0  55375.0  5008.0
1480 2017-07-06  55455.0           0.0  55460.0  55465.0  55425.0  1594.0
1481 2017-07-05  55455.0          20.0  55475.0  55475.0  55435.0   972.0
1482 2017-07-04  55435.0          65.0  55480.0  55485.0  55435.0  1539.0
1483 2017-07-03  55500.0          10.0  55725.0  55725.0  55450.0  1730.0

[990 rows x 7 columns]

### Turn into Monthly DataFrame

In [62]:
kodex_monthly = pd.DataFrame()
gov_monthly = pd.DataFrame()

In [ ]:
kodex_200['date'].dt.year #연
kodex_200['date'].dt.month #월
kodex_200['date'].dt.day #일
kodex_200['date'].dt.dayofweek #요일
kodex_200['date'].dt.day_name() #요일

In [63]:
for y in range(2017,2022):
    for m in range(1,13):
        kodex_monthly = kodex_monthly.append(kodex_200[(kodex_200['date'].dt.year == y) & (kodex_200['date'].dt.month==m)].head(1),ignore_index=True)
        gov_monthly = gov_monthly.append(gov_3[(gov_3.date.dt.year==y) & (gov_3.date.dt.month==m)].head(1))

In [65]:
# list comprehension
kodex_monthly.index = [x for x in range(len(kodex_monthly))]
gov_monthly.index = [x for x in range(len(gov_monthly))]