<a href="https://colab.research.google.com/github/HoYoungChun/financial_data_analysis/blob/main/Magic_Fomula(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd

csv_url = '/content/drive/MyDrive/Colab/financial_data_analysis/company.csv'

company = pd.read_csv(csv_url, encoding='utf-8')

In [8]:
company.tail()

       분류        회사명    종목코드  ...                       홈페이지     지역           구글코드
2017  코스닥     하이록코리아  013030  ...      http://www.hy-lok.com  부산광역시  KOSDAQ:013030
2018  코스닥  SBI인베스트먼트  019550  ...      http://www.sbik.co.kr  서울특별시  KOSDAQ:019550
2019  코스닥      엠벤처투자  019590  ...      http://www.m-vc.co.kr  서울특별시  KOSDAQ:019590
2020  코스닥      제미니투자  019570  ...  http://www.geminivc.co.kr  서울특별시  KOSDAQ:019570
2021  코스닥        모헨즈  006920  ...     http://www.imohenz.com   충청남도  KOSDAQ:006920

[5 rows x 11 columns]

In [9]:
type(company)

pandas.core.frame.DataFrame

In [10]:
type(company['종목코드'])

pandas.core.series.Series

In [12]:
company[['회사명','종목코드']].head()

       회사명    종목코드
0      두산우  000155
1    한화3우B  00088K
2   S-Oil우  010955
3    LG화학우  051915
4  한국금융지주우  071055

In [22]:
#company.loc[100:110]
ids= [1,5,100,2010]
column_names = ['분류','회사명','종목코드']
company.loc[ids][column_names]

       분류    회사명    종목코드
1     코스피  한화3우B  00088K
5     코스피    GS우  078935
100   코스피    휴비스  079980
2010  코스닥    글로본  019660

In [28]:
kospi = company[company['분류']=='코스피']
kosdaq = company[company['분류']=='코스닥']

In [27]:
ids=[1,4,7,10]
kospi.loc[ids, column_names]

     분류      회사명    종목코드
1   코스피    한화3우B  00088K
4   코스피  한국금융지주우  071055
7   코스피   코오롱인더우  120115
10  코스피    삼성전기우  009155

In [33]:
kakao = company[company['회사명']=='카카오'][column_names]
kakao

     분류  회사명    종목코드
16  코스피  카카오  035720

In [38]:
# 관심종목 list
interested=['한화','삼성전자','카카오']

# list를 사용한 복수의 기업 DataFrame filtering
company[company['회사명'].isin(interested)][column_names]

      분류   회사명    종목코드
16   코스피   카카오  035720
671  코스피    한화  000880
714  코스피  삼성전자  005930

## Missing value == 결측치

In [48]:
#NaN = Not a Number
company[company['종목코드'].isnull()]

     분류  회사명 종목코드   업종 주요제품  상장일  결산월 대표자명 홈페이지   지역 구글코드
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [49]:
company['종목코드'].dropna()[:15]

0     000155
1     00088K
2     010955
3     051915
4     071055
5     078935
6     096775
7     120115
8     000815
9     005387
10    009155
11    003545
12    009835
13    001275
15    271980
Name: 종목코드, dtype: object

In [53]:
#company.dropna(how='any') #한 column이라도 NaN이면 제거
#company.dropna(how='all') #모든 column이 NaN이어야 제거
#company.dropna(inplace=True) #default값이 False
#inplace=True면 company=company.dropna()와 같은 효과
#company=company.dropna()로 쓰는것을 추천. 가독성 + 메모리를 덜 잡아먹는다
company=company.dropna()

In [ ]:
company[~company['회사명'].str.contains('삼성')] #~은 not의 의미

(REITs) Real Estate Investment Trust Corps.<br>
(SPAC) Special Purpose Acquisition Corps.

In [64]:
company = company[~company['회사명'].str.contains('스팩|리츠')]
company

       분류        회사명  ...     지역           구글코드
0     코스피        두산우  ...  서울특별시     KRX:000155
1     코스피      한화3우B  ...  서울특별시     KRX:00088K
2     코스피     S-Oil우  ...  서울특별시     KRX:010955
3     코스피      LG화학우  ...  서울특별시     KRX:051915
4     코스피    한국금융지주우  ...  서울특별시     KRX:071055
...   ...        ...  ...    ...            ...
2017  코스닥     하이록코리아  ...  부산광역시  KOSDAQ:013030
2018  코스닥  SBI인베스트먼트  ...  서울특별시  KOSDAQ:019550
2019  코스닥      엠벤처투자  ...  서울특별시  KOSDAQ:019590
2020  코스닥      제미니투자  ...  서울특별시  KOSDAQ:019570
2021  코스닥        모헨즈  ...   충청남도  KOSDAQ:006920

[1837 rows x 11 columns]

1. 업종이 기타 금융업
2. 코스닥에 상장
3. 2015-1-1 이후에 상장된 기업정보만 필터링

날짜를 계산하는 방법으로 datetime 모듈을 사용하거나 pandas의 Timestamp 메소드를 사용하는 방법 두가지가 있습니다.

3-1. read_csv의 parameter 중 parse_dates 사용<br>
구글 검색 키워드: pandas read csv parse dates

3-2. to_datetime 함수 사용<br>
구글 검색 키워드 : pandas to datetime

3-공통.<br>
Timestamp 함수 사용

In [82]:
# 3-1 read_csv의 parameter 중 parse_dates 사용 + NaN제거하고
company = pd.read_csv(csv_url, encoding='utf-8', parse_dates=['상장일'])
company=company.dropna()
financial_corps = company[company['업종'].str.contains('기타 금융업')]
financial_corps_kosdaq = financial_corps[financial_corps['분류']=='코스닥']
financial_corps_kosdaq = financial_corps_kosdaq[financial_corps_kosdaq['상장일'] > pd.to_datetime('2015-1-1')]
financial_corps_kosdaq

      분류      회사명  ...      지역           구글코드
795  코스닥    제일홀딩스  ...    전라북도  KOSDAQ:003380
851  코스닥    골든센츄리  ...  케이맨 제도  KOSDAQ:900280
854  코스닥    잉글우드랩  ...      미국  KOSDAQ:950140
894  코스닥  크리스탈신소재  ...  케이맨 제도  KOSDAQ:900250

[4 rows x 11 columns]

In [80]:
#3-2 to_datetime 함수 사용 + NaN제거안하고
company = pd.read_csv(csv_url, encoding='utf-8')
company = company[company['분류']=='코스닥']
company = company[company['업종'].str.contains('기타 금융업')]
company = company[pd.to_datetime(company['상장일']) > pd.to_datetime('2015-1-1')]
company

      분류       회사명  ...      지역           구글코드
795  코스닥     제일홀딩스  ...    전라북도  KOSDAQ:003380
844  코스닥  오가닉티코스메틱  ...      홍콩  KOSDAQ:900300
850  코스닥       GRT  ...      홍콩  KOSDAQ:900290
851  코스닥     골든센츄리  ...  케이맨 제도  KOSDAQ:900280
854  코스닥     잉글우드랩  ...      미국  KOSDAQ:950140
863  코스닥      헝셩그룹  ...      홍콩  KOSDAQ:900270
873  코스닥       로스웰  ...      홍콩  KOSDAQ:900260
894  코스닥   크리스탈신소재  ...  케이맨 제도  KOSDAQ:900250
935  코스닥  이베스트스팩3호  ...   서울특별시  KOSDAQ:225440

[9 rows x 11 columns]