<a href="https://colab.research.google.com/github/HoYoungChun/financial_data_analysis/blob/main/NCAV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NCAV(Net Current Asset Value)

### Basic Setting

In [1]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup
import urllib.request
# !pip install bs4
# !pip install urllib

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
import pandas as pd

csv_url = '/content/drive/MyDrive/Colab/financial_data_analysis/company.csv'

company = pd.read_csv(csv_url, encoding='utf-8')

In [4]:
SNAP_URL = 'https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=101&stkGb=701'
print(SNAP_URL)

https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=101&stkGb=701

In [5]:
FS_URL = 'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701'
print(FS_URL)

https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701

In [6]:
sample_code = '035720'

In [11]:
fs = urllib.request.urlopen(FS_URL.format(sample_code)).read()
fs_soup = BeautifulSoup(fs,'html.parser')

In [13]:
snap = urllib.request.urlopen(SNAP_URL.format(sample_code)).read()
snap_soup = BeautifulSoup(snap,'html.parser')

### Market Value(시가총액)

In [29]:
mv_sells = snap_soup.find('div',{'id':"svdMainGrid1"}).find_all('td',{'class':'r'})
market_value = float(mv_sells[8].string.replace(',',''))
market_value

699189.0

### Current Asset(유동자산)

In [33]:
ca_cells = fs_soup.find('tr',{'id':"p_grid2_2"}).find_all('td',{'class':'r cle'})
current_asset = float(ca_cells[0].string.replace(',',''))
current_asset

52079.0

### Total Debt(총부채)

In [40]:
debt_cells = fs_soup.find('div',{'id':"divDaechaY"}).find_all('tr',{'class':'rwf rowBold'})
total_debt = float(debt_cells[1].find('td',{'class':'r cle'}).string.replace(',',''))
total_debt

56369.0

In [46]:
debt_list=[]
for debt in debt_cells[1]:
  if debt != '\n':
    debt_list.append(debt.string)
total_debt = float(debt_list[-1].replace(',',''))
total_debt

56369.0

### Net Income(당기순이익)

In [52]:
income_cells = fs_soup.find('div',{'id':'divSonikY'}).find_all('tr',{'class':'rwf rowBold'})
net_income = float(income_cells[-1].find_all('td',{'class':'r'})[-3].string.replace(',',''))
net_income

2399.0

### Get All Stock code

In [ ]:
code_list = company['종목코드']
sample_code_list = code_list[1000:1050]
sample_code_list

In [59]:
def crawler(li):
    # url을 세팅한다.
    SNAP_URL = 'https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=101&stkGb=701'
    FS_URL = 'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{}&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701'

    result={}

    for code in tqdm(li):
        try:
            fs = urllib.request.urlopen(FS_URL.format(code)).read()
            fs_soup = BeautifulSoup(fs,'html.parser')

            snap = urllib.request.urlopen(SNAP_URL.format(code)).read()
            snap_soup = BeautifulSoup(snap,'html.parser')

            #get company name
            name = company[company['종목코드'] == code]['회사명'].values[0]

            #get market value
            mv_sells = snap_soup.find('div',{'id':"svdMainGrid1"}).find_all('td',{'class':'r'})
            market_value = float(mv_sells[8].string.replace(',',''))

            #get current asset
            ca_cells = fs_soup.find('tr',{'id':"p_grid2_2"}).find_all('td',{'class':'r cle'})
            current_asset = float(ca_cells[0].string.replace(',',''))

            #get total debt
            debt_cells = fs_soup.find('div',{'id':"divDaechaY"}).find_all('tr',{'class':'rwf rowBold'})
            total_debt = float(debt_cells[1].find('td',{'class':'r cle'}).string.replace(',',''))

            #get net income
            income_cells = fs_soup.find('div',{'id':'divSonikY'}).find_all('tr',{'class':'rwf rowBold'})
            net_income = float(income_cells[-1].find_all('td',{'class':'r'})[-3].string.replace(',',''))

            #insert into result dict
            result[name]=[code, market_value, current_asset, total_debt,net_income]

        except(ValueError, AttributeError, IndexError, TypeError):
            pass

    # convert dict into DataFrame
    result_df = pd.DataFrame(result)

    # transposing DataFrame
    result_df = result_df.transpose()

    # set column names
    result_df.columns=['Code','market_value','current_asset', 'total_debt','net_income']
    
    return result_df

In [58]:
result_df = crawler(sample_code_list)
result_df

100%|██████████| 50/50 [01:31<00:00,  1.83s/it]

             Code market_value current_asset total_debt net_income
퓨쳐스트림네트웍스  214270         1619          1144       1234         -4
포시에스       189690          761           194         18         25
덕산네오룩스     213420        13518          1017        283        123
국일신동       060480          599           192         52          4
바디텍메드      206640         5273          1250        355        123
썸에이지       208640         4391           347         31        140
와이제이엠게임즈   193250         1427           285        174        -13
화이브라더스코리아  204630          997           628       1040        -92
하이셈        200470         1260           198        592         -2
휴메딕스       200670         3595           894        452         40
바이오로그디바이스  208710         2183           360        639        -37
서전기전       189860          862           227        153        -11
아스트        067390         1968          1952       3039        -14
오킨스전자      080580         3589           219        300          1
지란지교시큐리티   208350          624           549        272        -24
NEW        160550         2763          1382       1709          5
아이티센       124500         1264          2789       3105         -5
녹십자엠에스     142280         2355           813        666         16
디티앤씨       187220          838           431       1080        -32
셀바스헬스케어    208370          610           228        204        -18
정다운        208140         1332           820        831         24
하이로닉       149980          939           295         38          3
랩지노믹스      084650         2880           981        347        134
에이디테크놀로지   200710         3286          1634        804         52
비씨월드제약     200780         1658           466        907          7
미스터블루      207760         2860           527        188         35
알테오젠       196170        40197          2412        220          4
엔터메이트      206400         1563           548        183         42
SKC코오롱PI   178920        15887          1586       1384        162
대창스틸       140520          797          1490       1702         54
에프엔씨엔터     173940          909           607        638        -38
하이제2호스팩    205470         6126           520        190        101
텔콘         200230         4135           463        955         27
파티게임즈      194510           72           676        893        -72
지엘팜텍       204840          697           146        212        -14
디에이테크놀로지   196490         1413           811        381        -31
유안타제1호스팩   204620         1869           473        237        -43
액션스퀘어      205500         2596           206         84        -14
엑셈         205100         1528           499        104         -1
테고사이언스     191420         2254           275         14         -6
슈피겐코리아     192440         3506          2244        630        168
테라셈        182690          305            47        295        -26
영우디에스피     143540         1284           559        370         74
드림시큐리티     203650         2697           909       1796         10
메디아나       041920         1211           558        110         25
데브시스터즈     194480        10179          1245        587        205
프로스테믹스     203690         1748           258        367         27

In [60]:
tmp_df = result_df.copy()

### Searching stocks

In [65]:
tmp_df['NCAV'] = tmp_df['current_asset'] - tmp_df['total_debt']
tmp_df

             Code market_value current_asset  ... net_income Current_asset  NCAV
퓨쳐스트림네트웍스  214270         1619          1144  ...         -4          1234   -90
포시에스       189690          761           194  ...         25            18   176
덕산네오룩스     213420        13518          1017  ...        123           283   734
국일신동       060480          599           192  ...          4            52   140
바디텍메드      206640         5273          1250  ...        123           355   895
썸에이지       208640         4391           347  ...        140            31   316
와이제이엠게임즈   193250         1427           285  ...        -13           174   111
화이브라더스코리아  204630          997           628  ...        -92          1040  -412
하이셈        200470         1260           198  ...         -2           592  -394
휴메딕스       200670         3595           894  ...         40           452   442
바이오로그디바이스  208710         2183           360  ...        -37           639  -279
서전기전       189860          862           227  ...        -11           153    74
아스트        067390         1968          1952  ...        -14          3039 -1087
오킨스전자      080580         3589           219  ...          1           300   -81
지란지교시큐리티   208350          624           549  ...        -24           272   277
NEW        160550         2763          1382  ...          5          1709  -327
아이티센       124500         1264          2789  ...         -5          3105  -316
녹십자엠에스     142280         2355           813  ...         16           666   147
디티앤씨       187220          838           431  ...        -32          1080  -649
셀바스헬스케어    208370          610           228  ...        -18           204    24
정다운        208140         1332           820  ...         24           831   -11
하이로닉       149980          939           295  ...          3            38   257
랩지노믹스      084650         2880           981  ...        134           347   634
에이디테크놀로지   200710         3286          1634  ...         52           804   830
비씨월드제약     200780         1658           466  ...          7           907  -441
미스터블루      207760         2860           527  ...         35           188   339
알테오젠       196170        40197          2412  ...          4           220  2192
엔터메이트      206400         1563           548  ...         42           183   365
SKC코오롱PI   178920        15887          1586  ...        162          1384   202
대창스틸       140520          797          1490  ...         54          1702  -212
에프엔씨엔터     173940          909           607  ...        -38           638   -31
하이제2호스팩    205470         6126           520  ...        101           190   330
텔콘         200230         4135           463  ...         27           955  -492
파티게임즈      194510           72           676  ...        -72           893  -217
지엘팜텍       204840          697           146  ...        -14           212   -66
디에이테크놀로지   196490         1413           811  ...        -31           381   430
유안타제1호스팩   204620         1869           473  ...        -43           237   236
액션스퀘어      205500         2596           206  ...        -14            84   122
엑셈         205100         1528           499  ...         -1           104   395
테고사이언스     191420         2254           275  ...         -6            14   261
슈피겐코리아     192440         3506          2244  ...        168           630  1614
테라셈        182690          305            47  ...        -26           295  -248
영우디에스피     143540         1284           559  ...         74           370   189
드림시큐리티     203650         2697           909  ...         10          1796  -887
메디아나       041920         1211           558  ...         25           110   448
데브시스터즈     194480        10179          1245  ...        205           587   658
프로스테믹스     203690         1748           258  ...         27           367  -109

[47 rows x 7 columns]

In [68]:
tmp_df[(tmp_df['NCAV'] > tmp_df['market_value']*0.3) & (tmp_df['net_income'] > 0)]

          Code market_value current_asset  ... net_income Current_asset  NCAV
슈피겐코리아  192440         3506          2244  ...        168           630  1614
메디아나    041920         1211           558  ...         25           110   448

[2 rows x 7 columns]